body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

#dashboard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#placeholder {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to center vertically */
}

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to center vertically */
    color: grey
}
